<div class="login-wrapper">
  <div class="login-form" id="login-form">
    <ul>
        <%= form_tag log_in_path do |f| %>
        <li>
          <h1>twitterTrender</h1>
          <h2>See what's trending worldwide</h2>
        </li>
        <li>
          <div class="form-field">
            <div class="form-title">User Name</div>
            <%= text_field_tag(:user_name) %>
          </div>
        </li>
        <li>
          <div class="form-field">
            <div class="form-title">Password</div>
            <%= password_field_tag(:password) %>
          </div>
        </li>
        <li>
          <div class="submit-container">
            <%= submit_tag(:Login, :id=> "submit-button") %>
          </div>
        </li>
        <% end %>
        <li>
          <div class="field">
            <a href="/users/new">Sign up for twitterTrendr</a>
          </div>
        </li>
        <% if flash[:alert] %>
          <div class="login-alert"><%= flash[:alert].html_safe %></div>
      <% end %>
    </ul>
  </div>
</div>