<html>
<head>
	<title>Home</title>
</head>
<body>
	<% if current_user.nil? %>
		<div id="login_form"><%= render 'login' %></div>
	<% end %>
	<div id="header">
		<div class="center">
			<%= image_tag("bunny.gif") %>
			<h2>See what's happening right now</h2><br />
			<h5>News from your community</h5>
		</div>
	</div>
		<% if !@user.nil? %>
			<div id="update_form">
				<%= render 'form_update' %>
		</div>
		<% end %>
	<div id="navBar">
		<div class="center">
			<ul>
				<% if !@user.nil? %>
					<li class="logo"><div class="login-notice"><%= flash[:notice] %></div></li>
					<li class="buttons"><a id="update_cities">Update Cities</a></li>
					<li class="buttons"><%= link_to 'Log Out', log_out_path %></li>
				<% end %>
			</ul>
   		</div>
	</div>
	<div class="feeder">
		<div class="center">
			<% @locals.each do |x| %>
				<% @feed = @client.trend(x.woeid) %>
				<div class="feeds">
					<span class="city_name"><%= x.city_name %></span><br />
				    <% @feed.each do |x| %>
					    <div class="ul_center">
						    <ul class="trend_names">
						    	<li>
						    		<% if current_user.nil? %>
						    			<%= x[:name] %>
						    		<% else %>
							    		<% if x[:name].start_with?('#') %>
							    			<a href="https://twitter.com/hashtag/<%= x[:name].gsub(/#/, '') %>?src=hash">
							    				<%= x[:name] %>
								    		</a>
							    		<% else %>
								    		<a href="https://twitter.com/search?q=<%= x[:name] %>&src=typd">
								    			<%= x[:name] %>
								    		</a>
							    		<% end %>
						    		<% end %>
						    	</li>
						    </ul>
						</div>
				    <% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="footer">
		<p>
			twitterTrender was built using Twitter's "REST" api.
		</p>
	</div>
</body>
</html>