<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @location.city_name %>
</p>

<p>
  <strong>Woeid:</strong>
  <%= @location.woeid %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
